# OSINT Tools
scrapy>=2.11.0          # Web scraping framework
playwright>=1.40.0      # Browser automation

# AI Integration
flask-cors>=5.0.1       # For handling CORS in Flask applications

# GUI Frameworks
PyQt5>=5.15.11        # For creating GUI applications

# Utilities
python-dotenv>=1.0.0    # For managing environment variables

