# AI Integration
flask-cors>=5.0.1       # For handling CORS in Flask applications

# GUI Frameworks
PyQt5>=5.15.11        # For creating GUI applications

# Utilities
python-dotenv>=1.0.0    # For managing environment variables TO BE REMOVED
requests>=2.32.3        # For making HTTP requests

# Documentation
sphinx>=7.2.6          # For generating documentation
sphinxcontrib-mermaid>=0.9.0  # For Mermaid diagrams in Sphinx documentation